.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f3f7fa;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input[type="file"] {
  display: none;
}

.choose-btn {
  background-color: #00c9a7;
  background-image: linear-gradient(to right, #00c9a7, #00b4d8);
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
}

.choose-btn:hover {
  box-shadow: 0 8px 20px rgba(0, 201, 167, 0.5);
}

.file-info {
  font-size: 16px;
  color: #4f4f4f;
  margin-bottom: 20px;
}

.upload-btn {
  background-color: #0077b6;
  color: white;
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-btn:hover {
  background-color: #00b4d8;
  box-shadow: 0 8px 20px rgba(0, 119, 182, 0.5);
}

.upload-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.upload-container {
  padding: 40px;
}

@media (max-width: 768px) {
  .upload-container {
    padding: 20px;
  }

  .choose-btn, .upload-btn {
    font-size: 16px;
    padding: 10px 20px;
  }
}
